$bg-color-nav: #aaa111;
$margin-nav: 20px;
nav {
    margin: $margin-nav;
    background-color: gray;
    font-size: 30px;
}
//extends
%CSSlink{
    color: red;
    text-decoration: line-through;
}
//mixin
@mixin CSSlink($color, $status) {
    color: $color;
    text-decoration: $status;
}
//function
@function cal($a, $b) {
    @return $a*$b;
}
.navigation { 
    list-style: none;
}
.list {
    margin: cal(10, 10)*1px;
}

.list__link {
    @extend %CSSlink;
    @include CSSlink(blue, none);
}