.block__parent {
    width: 500px;
    height: 500px;
    background-color: black;
    /* animation: blink ease 1s infinite; */
    /* transition: transform ease 0.5s; */
}
.block__child {
    width: 200px;
    height: 200px;
    background-color: red;
    /* animation: scale2 ease 2s infinite; */
}

/* .block__parent:hover {
    transform: scale(1.5);
}
.block__child:hover {
    transform: rotate(20deg);
} */
/* header h1 {
    animation: blink ease 3s;
} */
@keyframes blink {
    from {
        background-color: pink;
    }
    to {
        background-color: yellow;
    }
}
@keyframes scale1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
}
@keyframes scale2 {
    0% {
        transform: scale(1);
    }
    33.3% {
        transform: scale(0.5);
    }
    66.6% {
        transform: scale(1);
    }
}