* {
    margin: 0;
    padding: 0;
}
.list-item {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: rgb(160, 149, 149);
}
.list-item-image {
    background-image: url(./theUniverse.jpg);
    height: 200px;
    background-size: cover;
    background-position: 0 -60px;
}
.list-item-parallax {
    background-image: url(./theUniverse.jpg);
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
}
.list-item-pattern {
    background-image: url(./pattern.jpg);
    background-size: 20%;
    background-repeat: repeat;
    height: 200px;
}

.list-item-transparent {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(4,11,126,1) 0%, rgba(89,65,153,0) 100%);
}